/***** CSS RESET *****/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
:focus {
	outline: 0;
}
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/****** The 1Kb Grid *****/

.grid-1 { width:60px; }
.grid-2 { width:140px; }
.grid-3 { width:220px; }
.grid-4 { width:300px; }
.grid-5 { width:380px; }
.grid-6 { width:460px; }
.grid-7 { width:540px; }
.grid-8 { width:620px; }
.grid-9 { width:700px; }
.grid-10 { width:780px; }
.grid-11 { width:860px; }
.grid-12 { width:940px; }

.column {
	margin: 0 10px;
	/*overflow: hidden;*/
	float: left;
	display: inline;
}
.row {
	width: 960px;
	margin: 0 auto;
	/*overflow: hidden;*/
}
.row .row {
	margin: 0 -10px;
	width: auto;
	display: inline-block;
}

/***** STYLES *******/
body {
    text-align: center;
    font-family: sans-serif;
    font-size: small;
    color: #666; /* nice color, isn't it? */
}
#page {
    width: 960px;
    margin: 100px auto;
    text-align: left;
}
#login-form {
    padding: 30px 0;
    text-align: center;
    position: relative;
}
#login-form form {
    width: 300px;
    margin: 0 auto;
    position: relative;
    top: -10px;
    left: 0;
    text-align: left;
}
#login-form form table th, #login-form form table td {
    padding: 2px 5px;
}
#login-form form table th {
    text-align: right;
}
form table th, form table td {
    padding: 5px;
}
form table th {
    color: #C92020;
    text-align: right;
}
.error {
    color: red;
}
a {
    font-family: inherit;
}
a:hover {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6, a, strong {
    color: #C92020;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Trebuchet MS", serif;
}
h2, h3, h4, h5, h6 {
    margin: 1.2em 0 0.5em 0;
}
p {
    margin: 0.5em 0 1.2em 0;
}
h1 {
    font-size: 130px;
    text-align: center;
}
h1 a {
    display: block;
    height: 50px;
    line-height: 70px;
    overflow: hidden;
    position: relative;
}
h1 a:hover {
    color: #E95050;
}

#menu ul {
    width: 100%;
}
#menu li {
    position: relative;
    width: 225px;
    height: 32px;
    margin: 10px 5px;
    float: left;
}
#menu li a, #menu li span {
    display: block;
    height: 32px;
    line-height: 32px;
    padding: 0 10px;
    background: #C92020;
    color: white;
    text-decoration: none;
    font-size: 120%;
    font-weight: bold;
}
#menu li li a {
    font-size: 100%;
    font-weight: normal;
    background: #A90000;
}
#menu li a:after {
    content: " ⇀";
}
#menu a:hover, #menu li:hover > a, #menu li span:hover, #menu li:hover > span {
    background: #E95050;
}
#menu li li a:hover {
    background: #C92020;
}
#menu li ul {
    position: absolute;
    top: -2000px;
    left: -2000px;
    z-index: 666; /* sexy for z-index, isn't it?' */
}
#menu li:hover ul {
    top: 32px;
    left: 0;
}
#menu li li {
    width: auto;
    float: none;
    margin: 0 10px;
}
#credentials {
    height: 50px;
    line-height: 80px;
    overflow: hidden;
    text-align: left;
    position: relative;
    left: -180px;
}

.controls a, input[type=submit] {
    display: inline-block;
    margin: 1px;
    padding: 1px 10px;
    font-weight: bold;
    background: #C92020;
    color: white;
    text-decoration: none;
    border: solid #C92020 1px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    cursor: hand;
    cursor: pointer;
}
.controls a:hover {
    background: white;
    color: #C92020;
}
.page, .manufacturer, .product, .order {
    margin: 10px 0;
    padding: 10px 0;
    border-bottom: solid #eee 1px;
}
hr {
    padding: 10px;
    height: 0;
    border: none;
    border-bottom: solid #eee 1px;
}
form table {
    width: 100%;
}
form table th {
    width: 30%;
    vertical-align: middle;
}
form table td {
    width: 70%;
}
input[type=text], textarea {
    width: 98%;
}
fieldset {
    border: solid #C92020 1px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}
legend {
    margin: 10px;
    padding: 5px;
    color: #C92020;
    font-weight: bold;
}
.warning {
    font-style: italic;
}
#main ul {
    padding-left: 5px;
    list-style: square;
}
.picture {
    float: left;
    width: 90px;
    text-align: center;
    margin: 10px;
}
a.no-hover:hover {
    background: #C92020;
    color: white;
}
.product .controls, .manufacturer .controls, .page .controls, .order .controls {
    text-align: center;
}

.address, h2 {
    font-size: 120%;
    padding-bottom: 3px;
}
.address td {
    padding: 5px 5px 5px 0;
}
.summary {
    width: 100%;
    margin: 20px 0;
    border-top: solid #eee 1px;
}
.summary .code, .summary .amount {
    width: 8%;
}
.summary th, .summary td {
    padding: 5px;
}
.summary tr {
    border-bottom: solid #eee 1px;
}
.summary .amount, .summary .price, .summary .total, .summary .total {
    text-align: right;
}
.price-changes .at {
    width: 70%;
}
.price-changes .price {
    width: 20%;
    text-align: right;
}
.price-changes .change {
    width: 3%;
}
.statistics, .price-changes, .products {
    width: 100%;
}
.statistics tr, .price-changes tr, .products tr, .actualities tr {
    border-bottom: solid #eee 1px;
}
.statistics th, .statistics td, 
.price-changes th, .price-changes td, 
.products th, .products td,
.actualities th, .actualities td
{
    padding: 5px;
}
.statistics .value {
    text-align: right;
}
p {
    line-height: 1.5;
}
.products .code {
    width: 8%;
}
.products .name {
    overflow: hidden;
}
.products .price {
    width: 8%;
    text-align: right;
}
.products .controls {
    width: 15%;
    text-align: center;
}
#pagination {
    text-align: center;
}
.actualities {
    width: 100%;
}
.actualities .added_at {
    width: 15%;
}
.actualities .name {
    width: 55%;
    overflow: hidden;
}
.actualities .controls {
    width: 25%;
    text-align: center;
}
